* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #e16428;
  font-family: "Montserrat", sans-serif;
}
ul {
  list-style-type: none;
}
.container {
  background-color: #272121;
  margin: 5rem 8rem;
  padding: 2rem;
}
.navbar {
  padding: 1rem;
  padding-top: 2rem;
}
.nav-item {
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: space-between;
}
.middle-nav {
  display: flex;
}
.middle-nav li {
  margin-left: 2rem;
}
.nav-item li {
  text-transform: uppercase;
}
.section1 {
  display: flex;
  align-items: center;
}
.left-part h3 {
  font-size: 1rem;
  color: #fff;
  margin-bottom: 5rem;
}
.left-part h1 {
  font-size: 4rem;
  color: #fff;
  margin-bottom: 3rem;
}
.left-part p {
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 1rem;
}
.left-part {
  padding-left: 1rem;
}
button {
  background-color: #e16428;
  padding: 1rem 2rem;
  border-radius: 2rem;
  border: 1px solid #333333;
  color: #fff;
  transition: all 0.3s ease;
}
button:hover {
  transform: scale(1.3);
}
